
KitDeInicioDos/.vs
KitDeInicioDos/packages

KitDeInicioDos/KitDeInicioDos/App_Data/cache/
KitDeInicioDos/KitDeInicioDos/App_Data/Logs/
KitDeInicioDos/KitDeInicioDos/App_Data/Models/
KitDeInicioDos/KitDeInicioDos/App_Data/packages/
KitDeInicioDos/KitDeInicioDos/App_Data/TEMP/

KitDeInicioDos/KitDeInicioDos/obj
KitDeInicioDos/KitDeInicioDos/Properties/
KitDeInicioDos/KitDeInicioDos/Umbraco
KitDeInicioDos/KitDeInicioDos/bin/